.fake-container {
    display: flex;
    justify-content: center;
}

.fake-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px
}

.fake {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.fake h1 {
    font-size: 16px;
    width: 150px;
}

.fake-symbol {
    text-transform: uppercase;
}